__pycache__
build
dist
*.log
tube
*.spec
.DS_Store
test/*.yaml.log
test/smoke-test
tube.template.yaml
test.yaml
help.txt
mypasswords.ini
launch.json
test.py
chromedriver
~
tmp
tube-config.yaml
tmp.txt
test2.yaml
tube.schema.yaml
gooeypie-test.py
tube.exe
download.py
test*.yaml
mv.yaml
qq.py
steps.txt
test.txt
result
*.code-workspace
demo.ini
